@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

iframe {
  width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Battambang';
  line-height: 2;
  word-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Font */

.battambang {
  font-family: 'Battambang', cursive !important;
}
.bokor {
  font-family: 'Bokor', cursive !important;
}
.koulen {
  font-family: 'Koulen', cursive !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Topnav */

.dropdown:hover .dropdown-menu {
  display: block;
}

/* SidebarTitle */

.sidebar-title::after {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

/* Home Page Category */
.category-new-title::after {
  content: '';
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  position: absolute;
  background: #4267b2;
  z-index: 10;
  width: 22px;
  height: 100%;
  top: 0;
  right: -22px;
}

/* Effect */

.custom_hover_effect img {
  transition: all 0.3s ease;
}

.custom_hover_effect img:hover {
  transform: scale(1.1);
}

.custom_hover_effect:hover h1 {
  bottom: 0 !important;
  transition: all 0.3s ease;
}

.custom_title_lastnew {
  background-color: rgba(38, 36, 79, 0.7);
}

.post-hover-effect img {
  transition: all 0.3s ease;
}

.post-hover-effect img:hover {
  transform: scale(1.1);
}

/* Loading */
#loading-spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 50px auto;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
